.nav-bar {
    position: fixed;
    width: 100%;
    margin: 10px;
    background-color: rgb(255, 255, 255, .5);
    color: lavender;
    padding: 14px 16px;
}
.about {
    position: relative;
    left:420px;
}

.contact {
    position: relative;
    left: 850px;
}

body {
    font-family: Arial;
    padding: 20px;
    background: rgb(102, 8, 66);
  }
  
 
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background:rgb(102, 8, 66);
    color: white;
  }
  

  .leftcolumn {
    float: left;
    width: 75%;
    color: white;
    text-align: center;
  }
  
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 5px;
    text-align: center;
  }
  
  
  .breeze {
    background-color: rgb(156, 8, 89);
    width: 100%;
    padding: 10px;
    margin: 50px;
    text-align: center;
  }
  
  
  
  .sunset {
    background-color: rgb(156, 8, 89);
    width: 100%;
    padding: 10px;
    margin: 50px;
    text-align: center;
  }
  
  .tide {
    background-color: rgb(156, 8, 89);
    width: 100%;
    padding: 75px;
    margin: 60px;
    text-align: center;
  }

  