
  @import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
  
  body, html {
  /* overflow-x: hidden; */
    padding-right: 5px;
    background: url("https://i.pinimg.com/originals/a3/87/68/a387686fd2f2b6e7e1ef6e1a2c83f1e9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  
  .container { 
    width: 95%;
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav main aside"
      "footer footer footer";
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 18% auto 30%;
    grid-gap: 5px;
    height: 100vh;
    margin: auto;
    font-family: 'Capriola';
   
  }
  
  .header {
    grid-area: header;
    text-align: center;
    color: white;
    font-size: 25px;
  }
  h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 5px;
  }
  
   #nav {
    grid-area: nav; 
    color: white;
    float: left;
    border: 1px dotted rgb(160, 137, 9);
  }
  #nav a{
    color: rgb(160, 137, 9);
    text-decoration:none;
}

#nav a:hover {
   color:pink;
   text-decoration: underline;
}

  .main {
    grid-area: main; 
    color: white; 
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px dotted rgb(160, 137, 9);
  }
  h2 {
    text-shadow: 2px 2px 4px #000000;
  }
  h3 {
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
  }
.wrapper {
  text-align: center;
}
  
  .wrapper ul {
      justify-content: center;
      display: grid;
}
.wrapper li {
    justify-content: center;
  }
  tbody, tr, td {
    border: 2px solid ;
    text-align: center;
   
  }
  th {
    color: rgb(160, 137, 9);
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
  }
  .center {
      margin-left: auto;
      margin-right: auto;
  }
  .aside {
    grid-area: aside; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted gold;
  }
  
  #footer {
      margin-bottom: 0px;
      position: relative;
      bottom: 0;
      grid-area: footer;
      /* negative value of footer height */
      height: 100px;
      grid-gap: 5px;
      color: white;
      font-size: 20px;
      background-color: lightpink;
      border: 1px dotted rgb(160, 137, 9);
      text-align: center;
  }
    

  
  header, nav, main, aside, footer {
    padding: 10px;
  }

  @media (max-width: 768px) { 
    .container {
      /* display: flex; flex-direction: column ; */
      grid-template-columns: 100%;
      grid-template-areas:
        "header"
        "header"
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    }}

    @media screen and (min-width: 768px) and (max-width: 1200px) { 
      .container {
        /* display: flex; flex-direction: column ; */
        grid-template-columns: 25% auto;
        grid-template-areas:
          "header header"
          "nav main"
          "aside aside"
          "aside aside"
          "footer footer";
      }}
    /* .container {
      grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
  
      grid-template-columns: 1fr;
      grid-template-rows: auto;
        minmax(75px, auto) 
        1fr 
        minmax(75px, auto) 
        auto; 
    } */
  
    /* nav, aside {
      margin: 0;
    }
  */ 
 