.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 10px;

}
    
    .grid {
    grid-column: auto;
    grid-row: auto;
    }
    @media only screen and (max-width:500px)
    {
        
    
    #item-1 {
        background-color: #F5C6D6;
        grid-column: 1/5;
    }
    #item-2 {
        background-color: #EE2E84;
        grid-column: 1/5;
    }
    #item-3 {
        background-color: #EE2E84;
        grid-column: 1/5;
    }
    #item-4 {
        background-color: #EE2E84;        
        grid-column: 1/5;        
    }
    #item-5 {
        background-color: #EE2E84;        
        grid-column: 1/5;  
    }
    }
    @media only screen and (min-width:768px)
{
    #item-1 {
        background-color: blue;
        grid-column: 1/5;
    }
    #item-2 {
        background-color: #EE2E84;
        grid-column: 1/2;
    }
    #item-3 {
        background-color: #EE2E84;
        grid-column: 2 / 4;
    }
    #item-4 {
        background-color: #EE2E84;        
        grid-column: 4/5;        
    }
    #item-5 {
        background-color: #EE2E84;        
        grid-column: 1/5;  
    }
}
 @media only screen and (min-width:640px and max-width: 766px)
{
    #item-1 {
        background-color: #F5C6D6;
        grid-column: 1/5;
    }
    #item-2 {
        background-color: #EE2E84;
        grid-column: 1/2;
    }
    #item-3 {
        background-color: #EE2E84;
        grid-column: 2/5;
    }
    #item-4 {
        background-color: #EE2E84;        
        grid-column: 1/5;        
    }
    #item-5 {
        background-color: #EE2E84;        
        grid-column: 1/5;  
    }
}
